<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>{{.Name}}</title>
</head>
<body>


<div class="container-fluid">

    <div class="row">
        <h1>Query</h1>
        <code>{{.Query}}</code>
        <div class="col-*-*">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" style="text-align: left">Service ID</th>
                    <th scope="col" style="text-align: right">Source</th>
                    <th scope="col" style="text-align: right">Target</th>
                    <th scope="col" style="text-align: right">Diff</th>
                </tr>
                </thead>
                <tbody>
                {{ range $key, $value := .Data }}
                <tr>
                    <th scope="row">{{ $key }}</th>
                    {{ range $k, $v := $value}}
                    <td align="right">{{ $v }}</td>
                    {{ end }}
                </tr>
                </td>
                {{ end }}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>